.wapper_menu{
    padding: 5px 20px;
    background-color: #3b4c25;
    position: sticky;
    top: 1px;
    color: white;
}
.wapper_menu h3{
    text-align: center;
}
.menu_button{
    display: flex;
    justify-content: space-between;
}
/*.wapper_menu_button{*/
/*    height: 30px;*/
/*    position: sticky;*/
/*    top: 10px;*/
/*}*/
.menu_button li{
    list-style-type: none;
}

.menu_button a {
    color: #fff;
    text-decoration: none;
}
.wapper_point button{
    background-color: rgba(203, 211, 218);
    border: none;
    color: rgb(59, 76, 37);
    padding: 5px 5px;
    text-align: center;
    border-radius: 2px;
    width: 170px;
    height: 40px;
    text-decoration: none;
    font-size: 15px;
    margin: 5px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.wapper_point button:active{
    background-color: rgb(161, 172, 178);
}
.wapper_point{
    display: flex;
    justify-content: space-between;
}
.wapper_button{
    display: flex;
}
.button_wapper a{
    color: white;
    text-decoration: none;
}
.wapper_point .activeSlideConst{
    background-color: rgb(146, 152, 157);
}
.img_vas{
    background-image: url("../photo/Без названия.png");
    background-repeat: no-repeat;
    width: 200px;
}
.menu_button a:hover{
    color: #6e8c45;
}


