.wapper_point .activeSlideShow{
    background-color: #4CAF50;
}
.wapper_point .activeSlideConst{
    background-color: #4CAF50;
}
.wapper_point .activeSlideVariable{
    background-color: rgb(161, 172, 178);
}