.chart_item{
    width: 800px;
    height: 400px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 60px;
    border-radius: 20px;
    background-color: white;
}
.wapper_flex{
    width: 1400px;
}
.wapper_table_progress .table_content{
    background-color: white;
}