.wapper_point .activeSlideShow{
    background-color: #4CAF50;
}
.wapper_point .activeSlideConst{
    background-color: #4CAF50;
}
.wapper_point .activeSlideVariable{
    background-color: #14a61d;
}