.chart_item{
    width: 800px;
    height: 400px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 60px;
    border-radius: 20px;
    background-color: white;
}
.wapper_flex{
    width: 1400px;
}
.container button{
    margin: 0 auto;
    margin-top: 100px;
}
.progress__button{
    color: white;
    text-decoration: none;
}
